.mui-control-content {
	background-color: white;
	min-height: 435px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}


/*========================================================*/

.mui-content {
	margin: 10px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	border-bottom: 1px solid #CCCCCC;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #6CCAC9;
	border-bottom: 1px solid #6CCAC9;
}

.mui-segmented-control {
	font-size: 13px;
}

.reanod-statistics {
	margin-bottom: 20px;
}

.reanod-statistics-right {
	display: block;
	line-height: 13px;
	border-right: 1px solid #CCCCCC;
}

.reanod-scroll {}

.reanod-scroll span {
	font-weight: bold;
	line-height: 30px;
}

.reanod-scroll button {
	font-size: 12px;
	line-height: 16px;
}

.reanod-select {
	width: 70px;
	border: 0;
	margin-left: 5px;
	background: #6CCAC9;
	color: white;
}

.reanod-table-view {
	margin-top: 20px;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

.reanod-table-view tr {
	margin: 10px;
	line-height: 35px;
	border-bottom: 1px solid #CCCCCC;
}

.reanod-table-view .reanod-title {
	background: #EEEEEE;
}


/*---------------------------------------------------*/

.reanod-content {
	margin-top: -20px;
	background: white;
}

.reanod-result {
	background: white;
	margin: 10px;
}

.result-title-left {
	float: left;
	font-size: 13px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.result-title-right {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.result-title-right a {
	color: black;
}

.result-title-right span {
	font-size: 12px;
	color: #6CCAC9;
}

.result-content {
	clear: both;
	font-size: 12px;
	padding: 5px;
	background: #EEEEEE;
}

.result-content td {
	padding: 5px;
}

.result-content-td {
	width: 50%;
}

.result-content~div {
	height: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.add-line {
	border-left: 1px solid #C7C7CC;
	padding-left: 0px;
}