<!doctype html>
<html>
<head>
<include file="Public:head" />
<script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
	<div class="wrap">
		<include file="Public:header" />
		<section class="section">
			<div style="padding: 40px 20px;">
				<div class="text-center">
					<a style="font-size: 18px;">恭喜您，安装完成！</a>
					<br>
					<br>
					<div class="alert alert-danger" style="width: 350px;display: inline-block;">
						请先修改网站设置，在更新缓存。<br />
						绑定域名400元，独立IP300元
					</div>
					<br>
					<a class="btn btn-success" href="__ROOT__/">进入前台</a> 
					<a class="btn btn-success" href="__ROOT__/admin">进入后台</a> 
				</div>
			</div>
		</section>
	</div>
	<include file="Public:footer" />
</body>
</html>